.icon-postman {
	width: 48px;
	height: 55px;
}

.icon-java {
	width: 48px;
	height: 68px;
}

.icon-bash {
	width: 100px;
	height: 68px;
}

.icon-Csharp {
	width: 100px;
	height: 68px;
}

.icon-cloudera {
	width: 100px;
	height: 68px;
}

.icon-hadoop {
	width: 80px;
	height: 68px;
}

.icon-kafka {
	width: 165px;
	height: 68px;
}

.icon-mysql {
	width: 70px;
	height: 68px;
}

.icon-sql {
	width: 70px;
	height: 68px;
}

.icon-vmware {
	width: 70px;
	height: 68px;
}

.icon-tfs {
	width: 80px;
	height: 68px;
}

.icon-html {
	width: 48px;
	height: 55px;
}

.icon-css {
	width: 58px;
	height: 98px;
}

.icon-selenium {
	width: 48px;
	height: 55px;
}






